<p><%= @product.title %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.created_at %></p>

<div>
  <%= link_to "Edit product", edit_product_path %> |
  <%= link_to "Back to products", products_path %>
  <%= button_to "Delete", product_path, method: :delete %>
</div>
