<p><%= @product.title %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>

<% if @product.images.attached? %>
  <% @product.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit product", edit_product_path %> |
  <%= link_to "Back to products", products_path %>
  <%= button_to "Delete", product_path, method: :delete %>
</div>

<% @product.comments.each do |comment| %>
  <p><%=comment.name %></p>
  <p><%=comment.body %></p>
  <%= link_to 'Edit comment', edit_product_comment_path(@product, comment), method: :delete %>
  <%= button_to 'Delete comment', product_comment_path(@product, comment), method: :delete %>
<% end %>

<h4>Leave feetback</h4>
<%= render 'comments/form' %>